{% extends 'main/base.html' %}
{% block content %}

<div class="top">
    {% if request.user.is_authenticated %}
    <h1 style="color:white;">Welcome {{request.user}}</h1>
    <a href="{% url 'logout-orphanage' %}" class="btn" style="margin: 1rem 0 1rem 0;">Logout</a>
    {% else %}
        <a href="{% url 'login-orphanage' %}">Login</a>
    {% endif %}
    <br>
    <a href="{% url 'AddOrphan' %}" class="btn" style="margin: 1rem 0 1rem 0;">Register a child with us</a>
</div>
<hr>
<div class="outergrid">
    {% for orphan in Orphans %}
    <div class="gridcell">
        {% if orphan.child_image %}
            <img src="{{orphan.child_image.url}}" width="200px" height="200px" style="border-radius: 5%;">
        {% else %}
            <img src="/static/assets/images/noUser.png" width="200px" height="200px" style="border-radius: 5%;">
        {% endif %}
        <div>
            <h2><a href="{% url 'UpdateOrphanDetails' orphan.id %}" style="text-decoration: none; color: black;">{{orphan.name}}</a></h2>
        </div>
        <div class="details">
            <b>Age: </b>{{orphan.age}}<br><br>
            <b>Joined us: </b>{{orphan.joined}}<br><br>
            <!-- <a href="{% url 'OrphanDetails' orphan.id %}">Details</a><br><br> -->
            <b>About: </b>{{orphan.description}}<br><br>
            <a href="{% url 'RemoveOrphan' orphan.id %}" style="color: rgb(49,141,153);">Remove Orphan from database</a>

        </div>
    </div>
    {% endfor %}
{% endblock content %}