{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout-orphanage' %}">Logout</a>
{% else %}
    <a href="{% url 'login-orphanage' %}">Login</a>
{% endif %}
<hr>
<h1>Orphans With Us</h1>
<a href="{% url 'landingPage' %}">Home Page</a><br>
<a href="{% url 'AddOrphan' %}">Register a child with us</a>
<table>
    <tr>
        <th>
            Orphans
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for orphan in Orphans %}
    <tr>
        <td>{{orphan.name}}</td>
        <td><a href="{% url 'OrphanDetails' orphan.id %}">Details</a></td>
        <td><a href="{% url 'UpdateOrphanDetails' orphan.id %}">Update Details</a></td>
        <td><a href="{% url 'RemoveOrphan' orphan.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No orphans registered with us</h3>
    {% endfor %}
</table>