{% extends 'main/base.html' %}
{% block content %}
<h1>Register Your Orphanage with Us!</h1>

<form method="POST">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <label>{{form.username.label}}</label><br>
    {{form.username}}<br>
    <label>{{form.password1.label}}</label><br>
    {{form.password1}}<br>
    <label>{{form.password2.label}}</label><br>
    {{form.password2}}<br>
    <input type="submit" value="Register" class="btn-btn">
</form>

<p>Already have an account? <a href="{% url 'login-orphanage' %}" style="color: rgb(66, 66, 66);">Login Here</a></p>
{% endblock content %}