{% extends 'main/base.html' %}
{% block content %}
<h1>Register(Orphanage)</h1>

<form method="POST">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <label>{{form.username.label}}</label><br>
    {{form.username}}<br>
    <label>{{form.password1.label}}</label><br>
    {{form.password1}}<br>
    <label>{{form.password2.label}}</label><br>
    {{form.password2}}<br>
    <input type="submit" value="Register">
</form>

<p>Already have an account? <a href="{% url 'login-orphanage' %}">Login Here</a></p>
<p><a href="{% url 'landingPage' %}">Home Page</a></p>
{% endblock content %}